node_modules
build
dist
.docs
.coverage
node_modules
package-lock.json
yarn.lock
.DS_Store
.next
.vscode
test-results
playwright-report
.parcel-cache
.envrc
.tool-versions
cid.txt
client-connectedPeers.txt
client-discoveredPeers.txt
server-connectedPeers.txt
server-discoveredPeers.txt
server-peerId.txt
client-peerId.txt
