node_modules
build
dist
.docs
.coverage
node_modules
package-lock.json
yarn.lock
.DS_Store
.next
.vscode
test-results
playwright-report
.parcel-cache
.envrc
.tool-versions
bun.lockb
.env
output.car
tsconfig-check.aegir.tsbuildinfo
tsconfig-check.aegir.json
tsconfig.build.tsbuildinfo
