name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  examples:
    runs-on: ubuntu-latest
    name: Test ${{ matrix.project }} on Node.js
    strategy:
      fail-fast: false
      matrix:
        project:
          - helia-101
          - helia-cjs
          - helia-electron
          - helia-esbuild
          - helia-jest
          - helia-jest-typescript
          - helia-nestjs
          - helia-nextjs
          - helia-parcel
          - helia-script-tag
          - helia-ts-node
          - helia-typescript
          - helia-vite
          - helia-vue
          - helia-webpack
          - helia-create-car
          - helia-lan-discovery
    defaults:
      run:
        working-directory: examples/${{ matrix.project }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Install Playwright
        run: npx -y playwright install --with-deps
      - name: Run tests
        run: npm run test
        env:
          CI: true

  bun:
    runs-on: ubuntu-latest
    name: Test ${{ matrix.project }} on bun
    strategy:
      fail-fast: false
      matrix:
        project:
          - helia-101
    defaults:
      run:
        working-directory: examples/${{ matrix.project }}
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@9b21598af8d4dfc302e5a30250007de0fda92acc # v1.1.1
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Install Playwright
        run: bun add --global playwright && playwright install --with-deps
      - name: Run tests
        run: bun run test
        env:
          CI: true

  monorepo:
    runs-on: ubuntu-latest
    name: Test monorepo
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Install Playwright
        run: npx -y playwright install --with-deps
      - name: Run linting
        run: npm run lint
        env:
          CI: true
      - name: Run tests
        run: npm run test -- --concurrency 1
        env:
          CI: true

  push-changes:
    name: Push changes
    runs-on: ubuntu-latest
    needs: [monorepo, examples]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    strategy:
      fail-fast: true
      matrix:
        project:
          - helia-101
          - helia-cjs
          - helia-electron
          - helia-esbuild
          - helia-jest
          - helia-jest-typescript
          - helia-nestjs
          - helia-parcel
          - helia-nextjs
          - helia-script-tag
          - helia-ts-node
          - helia-typescript
          - helia-vite
          - helia-vue
          - helia-webpack
          - helia-create-car
          - helia-lan-discovery
    steps:
      - uses: convictional/trigger-workflow-and-wait@f69fa9eedd3c62a599220f4d5745230e237904be
        with:
          owner: ipfs-examples
          repo: ${{ matrix.project }}
          github_token: ${{ secrets.REPO_PULL_TOKEN }}
          workflow_file_name: sync.yml
